<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>썬더 데모</title>
	<!-- 썬더: 기본 스타일 -->
	<link rel="stylesheet" href="https://code.clayful.io/clayful-thunder@1.2.1/theme/basic/style.min.css">	
</head>
<body>

	<!-- 상품 그리드가 <div> 안에 마법같이 렌더링됩니다. -->
	<div data-thunder-render="product-list"></div>

	<!-- 클릭하면 상품 그리드가 오버레이 창으로 열립니다. -->
	<button data-thunder-open="product-list">클릭해보세요</button>


	<!-- jQuery: 이미 jQuery 사용시 생략 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- 썬더: 코어 스크립트 -->
	<script src="https://code.clayful.io/clayful-thunder@1.2.1/thunder.min.js"></script>
	<script src="https://code.clayful.io/clayful-thunder@1.2.1/theme/basic/templates.min.js"></script>
	<script src="https://code.clayful.io/clayful-thunder@1.2.1/locales/ko.js"></script>

	<!-- 썬더: 설정 및 실행 코드 -->
	<script>
		Thunder({
			header: true,            // 사이트에 헤더를 추가합니다.
			client: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6ImJlODI4M2FhNGEzYTI5Y2U1OThhNDFkYjBkMjk3ODIyMGM3ZjIyZTg0MGVhOTQ2NWNjM2U0ZGU0ODAyYWQwODUiLCJyb2xlIjoiY2xpZW50IiwiaWF0IjoxNTc4NDkyNTMxLCJzdG9yZSI6IlRSNFBYQVZLV1JUMi5XNEVCN1AyUENLSFYiLCJzdWIiOiI0QVlTUzNISkFNQkwifQ.mFNhKTeZ4VnB8jTjK3IMX7GuGkWjuD7s2ZmAu3SHH5U' // 이전에 생성한 토큰을 <client-token> 대신 입력해주세요.
		});
	</script>

</body>
</html>